.Cell {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30px;
    height: 30px;
    border: 2px solid #dd4;
    user-select: none;
    &:hover{
        background-color: #ccc;
    }
}

.InnerTextSelected{
    width: 60%;
    height: 60%;
    color: #f00;
    font-size: 20px;
    border-radius: 50%;
    background-color: #555;
    animation: .3s linear 1s infinite alternate slidein;
    animation-delay: 0s;
}

@keyframes slidein {
    from {
        width: 60%;
        height: 60%;
        background-color: #555;
    }

    to {
        width: 85%;
        height: 85%;
        background-color: #66666622;
    }
}

.Top {
    @extend .Cell;
    border-color: #99d #dd4 #dd4 #dd4;
}

.Right {
    @extend .Cell;
    border-color: #dd4 #99d #dd4 #dd4;
}

.Down {
    @extend .Cell;
    border-color: #dd4 #dd4 #99d #dd4;
}

.Left {
    @extend .Cell;
    border-color: #dd4 #dd4 #dd4 #99d;
}

.TopRight {
    @extend .Cell;
    border-color: #99d #99d #dd4 #dd4;
}

.RightDown {
    @extend .Cell;
    border-color: #dd4 #99d #99d #dd4;
}

.DownLeft {
    @extend .Cell;
    border-color: #dd4 #dd4 #99d #99d;
}

.LeftTop {
    @extend .Cell;
    border-color: #99d #dd4 #dd4 #99d;
}