div.GridSudoku {
    padding: 10px;
    justify-content: center;
}

h1 {
    background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
    -webkit-background-clip: text;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

p {
    text-align: center;
    font-family: Garamond, serif;
    font-size: 20px;
    margin: 10px 0px;
}