.dropdown {
    position: relative;
    display: inline-block;
    user-select: none;
    height: auto;
    width: auto;
}

.dropdownContent {
    display: none;
    position: absolute;
    height: auto;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 9999;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdownContent p:hover {
    background-color: #ccc;
}