.OptionButton {
    cursor: pointer;
    width: auto;
    height: 35px;
    background-color: blueviolet;
    border-color: yellow;
    color: yellow;
    border-radius: 5px;
    text-align: center;
}