.OptionButton {
    cursor: pointer;
    width: 130px;
    height: 35px;
    background-color: blueviolet;
    border-color: yellow;
    color: yellow;
    border-radius: 25%;
    text-align: center;
}