.NumButtonPanel {
    display: flex;
    height: auto;
    margin-top: 10px 0px;
    justify-content: center;
}

.wrapper {
    width: 200px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns:  repeat(4, 1fr);
    column-gap: 5px;
    row-gap: 5px;
}